/*INICIO SECCION TERMINOLOGIA*/
 .terminologia{
	display: grid;
	grid-gap: 10px;
	margin: auto;
	background-color: aliceblue;
	padding: 30px;
	border-radius: 20px;
	box-shadow: 
	 60px 60px 60px 60px rgba(0, 0, 0, 0.25);
	margin: 30px;
	margin-top: 6rem;
	font-family: 'Noto Sans JP', sans-serif;
	ul{
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 10px;
			text-align: left;
			border:solid chocolate;
			padding: 10px;
			margin: 10px;
			list-style: none;
			font-size: 2rem;
			
			border-radius: 20px;
			box-shadow: 
			 10px 10px 10px 10px rgba(0, 0, 0, 0.25);
			 li{
				border:solid darkgoldenrod;
			 &:first-child {
				text-align: center;
				color: #d50606;
				text-decoration: underline;
				font-size: 2.7rem;
				padding: 20px;
				grid-column-start: 1;
				grid-column-end: 3;
				border:none;
				text-shadow: 3px 0px 3px rgb(56, 42, 42);
			 }
			}
		 }

 }
 .terminologia-titulo{
	@include titulos-h1(rgb(32, 30, 30), true);	
	padding: 1rem;
	
	 
	
 }


/*FIN SECCION TERMINOLOGIA*/

@media screen and (max-width:1023px) {
	.terminologia{
		
		ul{
			grid-template-columns: 1fr;
		}
	}
	.terminologia ul li:first-child
	{
		
		
			grid-column-end: 2;
		
	}
	
	
}
@media screen and (max-width:600px){
	.terminologia
	{
		margin: 0%;
		ul {
			font-size: 1rem;
			li{
				&:first-child{
					font-size: 2.5rem;
				}
			}
		}
	} 
	
}

