/*INICIO DE SECCION VIAJES Y TORNEOS*/
.container-viajes{
	display: grid;
	grid-template-columns: repeat(4, 1fr);	
	gap: 10px;
	padding: 20px;
	width: 90%;
	margin: auto;
	background-color: thistle;
	
}
.container-viajes img:nth-child(2){

	grid-row-start: span 2;
}
.container-viajes img:nth-child(15){

	grid-row-start: span 2;
}
.container-viajes img:nth-child(12){

	grid-row-start: span 2;
}
.container-viajes img:nth-child(26){

	grid-column-start: span 2;
}
#torn-39{
	grid-column-start: span 2;
}
#torn-1{
	grid-column-start: span 2;
}
#torn-2{
	grid-row-start: span 1;
}


.container-viajes img{

border: 4px solid white;
object-fit: cover;
height: 100%;

}

img
	{
		transition: all;
		transition-duration: 1s;
		width: 100%;
		
	}
	img:hover{
transition: all;
transition-duration: .5s;
background-color: #812216;

-webkit-transform:scale(1.10);
-moz-transform:scale(1.10);
-ms-transform:scale(1.10);
-o-transform:scale(1.10);
transform:scale(1.10);
-webkit-box-shadow: 5px 5px 15px 5px #000000; 
box-shadow: 5px 5px 15px 5px #000000;

	}
.title-galeria
{

	transition: all;
	transition-duration:3s ;
	
text-align: center;
	font-size: 50px;
	padding: 10px;
	margin: 40px;
	background-color: #b5bbba;
	color: #c41700;
	-webkit-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
-moz-box-shadow:    7px 7px 5px 0px rgba(50, 50, 50, 0.75);
box-shadow:         7px 7px 5px 0px rgba(50, 50, 50, 0.75);
	
text-shadow: 2px 2px 2px #ffffff;

	
}
/*FIN DE SECCION DE VIAJES Y TORNESO*/


@media screen and (max-width : 600px){
    .container-viajes{
		grid-template-columns: repeat(1, 1fr);
		width: 100%;
		grid-column-start: span 1;
			grid-row-start: span 1;
		img {
			grid-column-start: span 1;
			grid-row-start: span 1;
		}
	}
}